/node_modules
/database
/config
/public/hot
/public/storage
/public
/storage/*.key
/storage/*.index 
/vendor

.env
.env.backup
.phpunit.result.cache
.env.example
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
.editorconfig
/resources/pending-files

#config files
/package-lock.json
/package.json
/README.md
/project_notes.md
/laravel-worker.conf
/webpack.mix.js

