ul {
    list-style: none
}

.class-custom-height {
    height: 100vh;
}

input, select, button {
    outline: none;
    cursor: pointer;
}

.chart-custom-style {
    width: 100%;
    height: 35vh !important;
}

.img-landing-page {
    width: 40%;
    height: 40%;
}

.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: gray;
}

.date-input {
   padding: 10px 20px;
   margin-left: 5px;
   border: none;
   border-bottom: 1px solid gray;
}

.class-input-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-select-custom {
    /* width: 70%; */
    padding: 0.3125rem 3rem 0.3125rem 1rem;
    -moz-padding-start: calc(1rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--falcon-input-color);
    background-color: var(--falcon-input-bg);
    /* background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%234d5969' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3E%3C/svg%3E); */
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 16px 12px;
    border: 1px solid var(--falcon-input-border-color);
    border-radius: 0.25rem;
    box-shadow: var(--falcon-box-shadow-inset);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.custom-class-icon {
    cursor: pointer;
}

@media only screen and (max-width: 765px) {
    .img-landing-page {
        width: 90%;
        height: 90%;
    }

    .date-input { 
        width: 100%;
        margin-top: 5px;
    }
    
    .modal-title {
       font-size: large;
       text-align: center;
    }
}

@media only screen and (max-width: 1500px) {
    .img-landing-page {
        width: 70%;
        height: 70%;
    }
}